<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>Coole - Home</title>
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" type="text/css" />

    <meta name="description" content="coole site">

  </head> 
  <body>
    <div class="Titlebar">
      <h1>Database site</h1>
    </div>
     <p>
     <a class="button" href="/enternew">add</a>
       </p>
     <p>
     <a href="/list">list</a>
     <a href="/jsontable">json</a>

       
       </p>
       <p>
     <a href="/init">init database</a>
       </p>

   </body>
</html>