<!doctype html>


<html>
  <head>
    <link href="{{ url_for('static', filename = 'jsonlist.css') }}" rel="stylesheet" type="text/css" />  
  </head>
   <body class="result">
      <div class="Titlebar">
        <h1>Sensor results</h1>
      </div>

     <div class="chart">
     <!-- Chart -->
     <canvas id="myChart" style="width:99vw;"></canvas>
     </div>
</div>
</body>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  
<script>
  
var yValues = [];
var xValues = [];
var am = 1;
{% for row in json["more"] %}
  var tmp = {{row["value"]}};
  yValues.push(tmp);
  xValues.push(am);
  am++;
{% endfor %}

var highest = yValues.max;
var lowest = yValues.min;

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(255,255,255,1.0)",
      borderColor: "rgba(255,255,255,0.7)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{
        ticks: {
          min: 0, 
          max:highest,
          fontColor: "rgba(255,255,255,1.0)",
          fontSize: 18
        }
      }],
      xAxes: [{
        ticks: {
          fontColor: "rgba(255,255,255,1.0)",
          fontSize: 18
        }
      }],
    }
  }
});       
</script>

     
      <a href = "/">Go back to home page</a>
</html>